---
layout: base.njk
---

<div class="about">
  <h1>About {{ name }}</h1>
  <div class="image">
    <img src="{{ image | url }}" alt="">
    <small>{{ imagetxt }}</small>
  </div>
  {{ content | safe }}
</div>